{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['product', 'admin_product_priority'] %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}商品おすすめ順登録{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme searchProductModalForm 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <style type="text/css">
        .glyphicon-refresh-animate {
            -animation: spin .7s infinite linear;
            -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }

        .table > thead > tr > td.checked,
        .table > tbody > tr > td.checked,
        .table > tfoot > tr > td.checked,
        .table > thead > tr > th.checked,
        .table > tbody > tr > th.checked,
        .table > tfoot > tr > th.checked,
        .table > thead > tr.checked > td,
        .table > tbody > tr.checked > td,
        .table > tfoot > tr.checked > td,
        .table > thead > tr.checked > th,
        .table > tbody > tr.checked > th,
        .table > tfoot > tr.checked > th {
            background-color: #ffffcc;
        }

        .table-hover > tbody > tr > td.checked:hover,
        .table-hover > tbody > tr > th.checked:hover,
        .table-hover > tbody > tr.checked:hover > td,
        .table-hover > tbody > tr:hover > .checked,
        .table-hover > tbody > tr.checked:hover > th {
            background-color: #faf2cc;
        }

        .table > tbody > tr > td.vertical-align-middle {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script>
        // 並び順制御
        $(function () {
            var oldRanks = [];
            // 画面の中のrank一覧を保持
            $("table > tbody > tr").each(function () {
                oldRanks.push(this.dataset.priority);
            });

            // rsort
            oldRanks.sort(function (a, b) {
                return a - b;
            }).reverse();

            $("table > tbody").sortable({
                items: '> tr',
                cursor: 'move',
                update: function (e, ui) {
                    $("body").append($('<div class="modal-backdrop in"></div>'));
                    updateRank();
                }
            });

            var updateRank = function () {
                // 並び替え後にrankを更新
                var newRanks = {};
                var i = 0;
                $("table > tbody > tr").each(function () {
                    newRanks[this.dataset.productid] = oldRanks[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url("admin_product_priority_move", { categoryId : categoryId }) }}',
                    type: 'POST',
                    data: newRanks,
                }).done(function (data) {
                    console.log(data);
                    $(".modal-backdrop").remove();
                }).fail(function () {
                    console.log('fail');
                    $(".modal-backdrop").remove();
                });
            };
        });
    </script>
    <script>
        $(function () {
            // カテゴリプルダウン選択
            $('#admin_product_priority_category_category').on('change', function () {
                var categoryId = $(this).val();
                var href = "{{ url('admin_product_priority') }}";
                if (categoryId) {
                    href += '/' + categoryId;
                }
                location.href = href;
            });
            // チェックボックスの全選択/全解除
            $('#toggle-check-all').click(function () {
                var checkall = $(this).prop('checked');
                if (checkall) {
                    $('input[id^=check-]').prop('checked', true)
                            .parent()
                            .parent()
                            .addClass('checked');
                } else {
                    $('input[id^=check-]').prop('checked', false)
                            .parent()
                            .parent()
                            .removeClass('checked');
                }
            });
            // チェックボックス選択時に行の背景色を切り替える
            $("input[id^=check-]").on('click', function () {
                var $checkbox = $(this);
                var $tr = $checkbox.parent().parent();
                var checked = $checkbox.prop('checked');
                if (checked) {
                    $tr.addClass('checked');
                } else {
                    $tr.removeClass('checked');
                }
            });
            // 削除ボタン押下
            $('#delete-checked').click(function () {
                var checked = false;
                var productIds = {};
                $("input[id^=check-]:checked").each(function () {
                    checked = true;
                    productIds[this.dataset.productid] = this.dataset.productid;
                });

                if (!checked) {
                    alert('選択されていません。');
                    return;
                }

                if (!window.confirm('おすすめ順から削除しますか？')) {
                    return;
                }

                // マスク処理
                $overlay = $('<div class="prevention-masked">');
                $('body').append($overlay);

                $.ajax({
                    url: '{{ url("admin_product_priority_delete", { categoryId : categoryId }) }}',
                    type: 'POST',
                    data: productIds,
                    async: false
                }).done(function (data) {
                    console.log(data);
                }).fail(function () {
                    console.log('fail');
                });

                {% if categoryId is empty %}
                var href = "{{ url('admin_product_priority') }}";
                {% else %}
                var href = "{{ url('admin_product_priority_edit', { categoryId : categoryId}) }}";
                {% endif %}

                location.href = href;
            });

            // モーダル内商品検索
            $('#searchProductModalButton').on('click', function () {
                $('#register-checked').addClass('hidden');
                $('#searchProductModalList').html(
                    '<div class="no-padding">' +
                        '<div class="data-empty">' +
                            '<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...' +
                        '</div>' +
                    '</div>'
                );

                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        'search': $('#admin_product_priority_search_search').val(),
                        'category_id': {{ categoryId }}
                    },
                    url: '{{ url("admin_product_priority_search") }}',
                    success: function (data) {
                        // モーダルに結果を書き出し.
                        $('#searchProductModalList').html(data);
                        // pager.twigのbox-footerは不要なため除外
                        $('#pagination_wrap').removeClass('box-footer');
                    },
                    error: function () {
                        alert('search product failed.');
                    }
                });
            });

            registerd_flg = false;

            // モーダル内登録ボタン押下
            $('#register-checked').on('click', function () {
                var checked = false;
                var productIds = [];
                $("input[id^=register-check-]:checked").each(function () {
                    checked = true;
                    productIds.push(this.dataset.productid);
                });

                if (!checked) {
                    alert('選択されていません。');
                    return;
                }

                // マスク処理
                $overlay = $('<div class="prevention-masked">');
                $('body').append($overlay);

                $('#register-checked').addClass('hidden');
                $('#searchProductModalList').html(
                        '<div class="no-padding">' +
                        '<div class="data-empty">' +
                        '<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...' +
                        '</div>' +
                        '</div>'
                );

                $.ajax({
                    url: '{{ url("admin_product_priority_register", { categoryId : categoryId }) }}',
                    type: 'POST',
                    data: {
                        productIds: productIds
                    },
                    success: function (data) {
                        $('#searchProductModalButton').click();
                        $('.prevention-masked').remove();
                        registerd_flg = true;
                    },
                    error: function () {
                        $('.prevention-masked').remove();
                        alert('register product priority failed.');
                    }
                });
            });
        });

    </script>
    <script>
        $(function () {
            $('#searchProductModal').on('hidden.bs.modal', function (event) {
                if (registerd_flg) {
                    location.reload();
                }
            })
        });
    </script>
    <script>
        // 機能説明のツールチップを有効にする
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-title">
                        <ul class="list-inline">
                            <li>商品おすすめ順登録</li>
                            <li><span class="glyphicon glyphicon-question-sign"
                                  data-toggle="tooltip"
                                  data-placement="right"
                                  data-html="true"
                                  data-title="<p align='left'>カテゴリ毎に、おすすめする商品を登録できます。おすすめ商品を登録後、並び順をドラッグ＆ドロップで設定してください。</p>"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_widget(form.category) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-default btn-block" data-toggle="modal"
                                                data-target="#searchProductModal">おすすめ商品登録
                                        </button>
                                    </li>
                                    <li><a href="{{ path('product_list', {
                                            'category_id' : categoryId ? categoryId : '',
                                            'orderby' : Config.order_by_id
                                        }) }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span><span class="hidden-xs"> 表示を確認</span></a></li>
                                </ul>
                            </div>
                        </div>
                        {% if Priorities|length > 0 %}
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-8">
                                        <div class="form-group">
                                            <button id="delete-checked" type="button" class="btn btn-default btn-block">
                                                削除
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if Priorities|length > 0 %}
                    <div class="box-body no-padding">
                        <table class="table table-hover">
                            <thead style="background-color: #F9F9F9;">
                            <tr>
                                <td width="10%">
                                    <div style="color: #b8bec4">
                                        <svg class="cb cb-ellipsis-v">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="#cb-ellipsis-v"></use>
                                        </svg>
                                    </div>
                                </td>
                                <td width="20%">商品ID</td>
                                <td width="60%">商品名</td>
                                <td width="10%"><input type="checkbox" id="toggle-check-all"></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for Priority in Priorities %}
                                <tr class="item_box"
                                    data-priority="{{ Priority.priority }}"
                                    data-productid="{{ Priority.product_id }}">
                                    <td width="10%">
                                        <div style="color: #b8bec4">
                                            <svg class="cb cb-ellipsis-v">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     xlink:href="#cb-ellipsis-v"></use>
                                            </svg>
                                        </div>
                                    </td>
                                    <td width="20%">{{ Priority.product_id }}</td>
                                    <td width="60%">{{ Priority.product_name }}</td>
                                    <td width="10%"><input type="checkbox" id="check-{{ Priority.product_id }}"
                                                           data-productid="{{ Priority.product_id }}"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                {% else %}
                    <div class="box-body no-padding">
                        <div class="data-empty">
                            <svg class="cb cb-inbox">
                                <use xlink:href="#cb-inbox"/>
                            </svg>
                            <p>データはありません</p></div>
                    </div><!-- /.box-body -->
                {% endif %}
                <!-- ▲ データがある時 ▲ -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
{% endblock %}

{% block modal %}
    {# 商品検索モーダル #}
    <div class="modal fade" id="searchProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                class="modal-close" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">商品検索</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form_widget(searchProductModalForm.search, { attr : { placeholder : '商品名・ID・コード' } } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(searchProductModalForm.category_name) }}
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <button type="button" id="searchProductModalButton" class="btn btn-primary">検索</button>
                            <button id="register-checked" type="button" class="btn btn-default pull-right hidden"
                                    style="width:200px">登録
                            </button>
                        </div>
                    </div>
                    <div class="form-group" id="searchProductModalList">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
